@model ShopTARgv24_Ksenia.Models.Weather.AccuWeatherViewModel


<div class="container">
    <h2>Forecast for the selected city</h2>
    <h2>@Html.DisplayFor(model => model.TempMaxValue)</h2>
    <h2>@Html.DisplayFor(model => model.Text)</h2>
    <h2>@Html.DisplayFor(model => model.EndDate)</h2>
</div>