@{
    ViewData["Title"] = "Поиск коктейлей";
}

<h1>Search cocktails</h1>

<form asp-action="Search" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="name" class="form-control" placeholder="Search"/>
		<button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
